<div class="container-fluid">

  <h5>You've reached the website of</h5>
  <h1 id="bigTaylor">Taylor Meeks.</h1>
  <h5>I make things on the internet.</h5>

  <div class="spacer"></div>

  <div class="">
    <div class="strip background-red"></div>
    <h5>Here is a recent photo of me.</h5>
    <img src="../../../assets/images/profile_new.jpg" class="rounded-circle profile-pic">
  </div>

  <div class="spacer"></div>

  <div class="">
    <div class="strip background-green"></div>
    <h5>Here is a stock photo of some code.</h5>
    <img src="../../../assets/images/code.png" class="rounded-circle profile-pic">
  </div>

  <div class="spacer"></div>

  <div class="">
    <div class="strip background-red"></div>
    <h5>Here is a photo of Zoë, Freddie, and Luther.</h5>
    <img src="../../../assets/images/pets.jpg" class="rounded-circle profile-pic">
  </div>

</div>
